workflows/GitHub Backup.json
{"updatedAt":"2026-03-25T05:23:19.463Z","createdAt":"2026-03-24T13:30:09.910Z","id":"GFwv2viEl9V19Rdj","name":"GitHub Backup","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,272],"id":"0faeb37f-e64b-43c8-8976-d52649e4d5f6","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[224,272],"id":"5ceeca4a-7a14-4de2-937b-c523818c06ae","name":"Get many workflows","credentials":{"n8nApi":{"id":"Pol9iutORgoVhZLf","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,272],"id":"c84bb02d-978c-4fda-b6de-f9b53b37f959","name":"Loop Over Items"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"Dharmik564","mode":"list","cachedResultName":"Dharmik564","cachedResultUrl":"https://github.com/Dharmik564"},"repository":{"__rl":true,"value":"N8N-Workflows","mode":"list","cachedResultName":"N8N-Workflows","cachedResultUrl":"https://github.com/Dharmik564/N8N-Workflows"},"filePath":"=workflows/{{ $json.name }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[672,192],"id":"e0ae1a29-1979-4331-971b-46398240c075","name":"Get a file","webhookId":"12133d5d-1160-4866-9792-71bcb1c25ac3","alwaysOutputData":true,"credentials":{"githubApi":{"id":"SbcvNB7wn7pnGKOq","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"007ef3e9-aff7-4930-ab3a-63ae71fc3d40","leftValue":"={{ $node[\"Get a file\"].json.sha }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[896,272],"id":"dc80442e-d9d5-473a-b081-ce83baf7eaee","name":"If1"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Dharmik564","mode":"list","cachedResultName":"Dharmik564","cachedResultUrl":"https://github.com/Dharmik564"},"repository":{"__rl":true,"value":"N8N-Workflows","mode":"list","cachedResultName":"N8N-Workflows","cachedResultUrl":"https://github.com/Dharmik564/N8N-Workflows"},"filePath":"=workflows/{{ $json.name }}.json","fileContent":"={{ $node[\"Get a file\"].json.sha }}","commitMessage":"Update "},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1200,272],"id":"132bc103-3fb1-4353-bbf6-745f08c2422a","name":"Edit a file","webhookId":"9856ae5b-9b90-4be1-9b95-f879eab5a377","credentials":{"githubApi":{"id":"SbcvNB7wn7pnGKOq","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Dharmik564","mode":"list","cachedResultName":"Dharmik564","cachedResultUrl":"https://github.com/Dharmik564"},"repository":{"__rl":true,"value":"N8N-Workflows","mode":"list","cachedResultName":"N8N-Workflows","cachedResultUrl":"https://github.com/Dharmik564/N8N-Workflows"},"filePath":"=workflows/{{ $json.name }}.json","fileContent":"={{ $node[\"Get a file\"].json.sha }}","commitMessage":"First Commit"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1072,304],"id":"df02b169-68b4-49ee-98cb-9e8ef475bc36","name":"Create a file","webhookId":"7e10f2e7-6730-4aa9-ad3b-50a86e47df0b","credentials":{"githubApi":{"id":"SbcvNB7wn7pnGKOq","name":"GitHub account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Edit a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9e084c44-7942-4c0a-a861-0d856e289501","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T13:30:09.915Z","createdAt":"2026-03-24T13:30:09.915Z","role":"workflow:owner","workflowId":"GFwv2viEl9V19Rdj","projectId":"9LcA9XXfXioQWxEV"}],"activeVersion":null,"tags":[],"error":"The resource you are requesting could not be found"}